body{
    background-image:linear-gradient(90deg, white, rgb(114, 160, 245));
    color: color black;
    font-family: 'Times New Roman', Times, serif;
}

#paraFunc2{
    color: black;
}

#countdownStatus{
    color: red;
}